---
layout: default
---
#older_and_newer
  - if page.next
    .newer
      = link_to_page(page.next, :text => '&gt;&gt;&gt;')
  - if page.previous
    .older
      = link_to_page(page.previous, :text => '&lt;&lt;&lt;')

.post
  .meta
    = page.date.strftime("%B&nbsp;#{countify page.date.day}&nbsp;%Y")
    <br/>
    Tagged
    =  page.tags.map { |tag| tag_link(tag) }.join(', ')

  %h1= page.title
  
  -# Without the squiggly, Haml will indent highlighted code. 
  ~ content
  
  #disqus_thread
    -# Thanks to Henrik Nyh who figured this all out
    :javascript
      var disqus_developer = location.host.match(/\.dev$|^localhost/) ? 1 : 0;
    %script{ :type => "text/javascript", :src => "http://disqus.com/forums/absurdli/embed.js" }
    %noscript <a href="http://absurdli.disqus.com/?url=ref">View the discussion thread.</a>
  
  